/* animations */
@keyframes smalltobig {
    0% {
        width: 35px;
        height: 35px;
    }

    100% {
        width: 90%;
    }
}

@keyframes bigtosmall {
    0% {
        width: 90%;
    }

    100% {
        width: 35px;
        height: 35px;
    }
}

/* font set */
* {
    font-family: "irsans";
}

/* body color */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* background: radial-gradient(#00104a, #00104a, #f5f5f5, #00104a, #00104a); */
    background-color: rgba(128, 128, 128, .3);
}


/* container section */
.container {
    width: 88vw;
    height: auto;
}

/* notif */
.notif__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    user-select: none;
}

.notif__box--msg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 35px !important;
    max-height: 35px !important;
    width: 90%;
    gap: 10px;
    padding: 3px 12px;
    margin: 6px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 30px;
    overflow: hidden;
    word-wrap: break-word;
    animation: smalltobig both 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.notif__box--msg.active {
    animation: bigtosmall both 1.5s cubic-bezier(0.81, -0.25, 0.87, 0.07);
}

.notif__box--msg p {
    width: fit-content;
}

.notif__box--msg svg {
    width: fit-content;
    fill: orangered;
    cursor: pointer;
}

/* original */
.original {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
    padding: 20px 0;
    background-color: #00104a;
    border-radius: 15px 15px 0 0;
}

/* form */
.both--part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

/* inputs */
.form__both--input {
    width: 200px;
    padding: 5px;
    border: 1px solid goldenrod;
    border-radius: 3px;
    font-size: 12px;
}

.form__both--input:focus {
    outline: 0;
}

.submit {
    width: fit-content;
    padding: 3px 25px;
    background-color: aquamarine;
    border-radius: 10px 12px 10px 10px;
}

/* list */
.inventory.green {
    color: lime;
}

.inventory.yellow {
    color: yellow;
}

.inventory.orange {
    color: orange;
}

.inventory.red {
    color: orangered;
}

.list--data .data {
    display: flex;
    width: 100%;
}

.list--data .data p:first-child {
    width: 66.666667%;
    padding: 4px;
    border: 1px solid white;
}

.list--data .data p:last-child {
    display: flex;
    justify-content: space-between;
    width: 33.333333%;
    padding: 4px;
    border: 1px solid white;
}

.list--data input {
    display: none;
}

.list--data.checkboxes input {
    display: unset;
}